<a>    
  <%= link_to 'Home',root_path, class:'item' %>
</a>
<div class="right menu">
  <a>
    <%= link_to 'Login',new_user_session_path, class:'item' %>
  </a>
  <a>
    <%= link_to 'Sign up',new_user_registration_path, class:'item' %>
  </a>
  <a>
    <%= link_to 'Sign out',destroy_user_session_path, method: :delete, class:'item' %>
  </a>
</div>
